@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Styles
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



*/

body{
    background-color: #1F1F1F;
    margin: 0;
}

.Name{
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F2F2F2;
    text-align: left;
    margin: 0
}

#UID{
    position: absolute; 
    top: 0px; 
    right: 15px;
    width: 400px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F2F2F2;
    text-align: right; 
}
#LO{
  color: inherit;
}
#LOimg{
  margin-bottom: -5px;
}

#GC{
  color: inherit;
}
#GCimg{
  margin-bottom: -6px;
}
#DM{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #F2F2F2;
  text-align: right;
  text-decoration: none; 
}

#Uimg{
  color: #F2F2F2;
  margin-bottom: -6px;
  margin-right: 5px;
}
#GCimg2{
  color: #F2F2F2;
  margin-bottom: -6px;
  margin-right: 5px;
  text-decoration: none;
}

#GC2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #F2F2F2;
  text-align: right;
  text-decoration: none; 
}

#Text1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #787878;
}
#Text2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #787878;
}

.Side{
  background-color: #1A1A1A;
  left: 0;
  height: 982px;
  width: 300px;
}

#form{
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Messaging{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 2%;
  left: 25.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #F2F2F2;
}

#Messaging1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #F2F2F2;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: -5px;
}

#text{
  color: #F2F2F2;
  width: 600px;
  height: 40px;
  outline: 2px solid #F2F2F2;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  margin-left: 200px;
}
#Simg {
  color: #F2F2F2;
  margin-bottom: -9px;
}

#Simg:hover {
    scale: 1.1;
}

#Chats{
  color:#F2F2F2;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#Chats1{
  color:#919191;
  width: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
}

.allmessage{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  position: absolute;
  top: 5%;
  left: 310px;
  width: 1725px;
  height: 800px;
  overflow: auto;
  border: 2px solid #F2F2F2;
  border-radius: 10px;
  margin-left: 2px;
  padding-left: 4px;
}
.allmessage::-webkit-scrollbar {
  width: 10px;
}

